body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* padding: 0 5%; */
	background-color: lightblue;
	color: rgb(86, 86, 86);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.logo {
	width: 320px;
	height: 200px;
	margin: 30px auto 0;
}

.top {
	width: 100%;
	padding: 2% 6%;
	margin-bottom: 20px;
	background-color: lightblue;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
}

.top button {
	font-weight: bold;
	height: 70%;
}

.top h2 {
	margin-right: 10%;
}

.character {
	width: 70%;
	height: 45vh;
	margin: auto;

	background-color: rgb(194, 222, 232);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
		rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
		rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

	padding: 5% 5% 0;
	margin-bottom: 50px;

	display: flex;
	justify-content: space-around;
	border-radius: 15px;
}

.character div {
	margin: 20px;
}

img {
	height: 90%;
	margin: auto;
}

label,
input {
	font-size: larger;
	font-weight: bold;
}

label {
	padding-right: 40px;
}

input {
	padding: 10px;
}

p {
	font-size: larger;
	font-weight: 600;
	padding-bottom: 5%;
}

button {
	font-size: larger;
	padding: 10px 15px;
	border-radius: 5px;
}
